extends layout

block content
  h1= title
  p Welcome to #{title}
  p Request Success Count: #{requestSuccessCount}
  p Request Error Count: #{requestErrorCount}
  p Last Refresh: #{lastRefresh}
  p Last Refresh Speakers: #{lastRefreshSpeakers}
